<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Fishing</title>
    <meta name="description" content="" />
    <meta name="viewport" content="widht=device-widht, initial-scale=1" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.ico" />
</head>

<body>
    <div class="container col-11 divprincipal">
        <div class="row">
            <div class="col-md-2 menu">
                <img src="assets/img/boia.png" class="imgr col-md-3" />
                <div class="padding10"></div>
                <span class="spanmenu">
                    <a>
                        Status
                    </a>
                </span>
                <div class="padding10"></div>
            </div>
        </div>
    </div>
</body>